@import "./variables";

.btn{
    border-radius: 3px;
    font-size: 1.5rem;
    padding-block: 0.8em;
    padding-inline: 3em;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    &:hover{
        transform: scale(1.03);
    }
}
.btn-primary{
    background-color: $btnPrimaryColor;
}
.btn-secondary{
    background-color: $btnSecondaryColor;
}

// optBTN
.btn-good{
    background-color: $goodBtnBG;
}
.btn-bad{
    background-color: $badBtnBG;
}

// disabled
.btn-disabled-wrap{
    pointer-events: all;
    cursor: not-allowed;
}
.btn-disabled{
    pointer-events: none;
    &.btn-secondary{
        background-color: $btnSecondaryColorDisabled;
    }
    &.btn-primary{
        background-color: $btnPrimaryColorDisabled;
    }
}

.btn-good-disabled{
    pointer-events: none;
    background-color: $goodBtnBG;
}
.btn-bad-disabled{
    pointer-events: none;
    background-color: $badBtnBG;
}