// main
$bodyBg: rgb(29, 29, 26);
$headerMt: 1em;
// buttons
$btnPrimaryColor: #1774ff;
$btnPrimaryColorDisabled: rgb(11, 51, 138);
$btnSecondaryColor: rgb(218, 204, 13);
$btnSecondaryColorDisabled: rgb(128, 119, 7);
$goodBtnBG: rgb(12, 148, 30);
$badBtnBG: rgb(204, 49, 49);


// progres
$progBg: rgb(59, 59, 53);
$progFg: rgb(12, 148, 30);