@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
.btn {
  border-radius: 3px;
  font-size: 1.5rem;
  padding-block: 0.8em;
  padding-inline: 3em;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

@media only screen and (max-width: 680px) {
  .btn {
    font-size: 1.2rem;
  }
}

.btn-primary {
  background-color: #1774ff;
}

.btn-secondary {
  background-color: #dacc0d;
}

.btn-good {
  background-color: #0c941e;
}

.btn-bad {
  background-color: #cc3131;
}

.btn-disabled-wrap {
  pointer-events: all;
  cursor: not-allowed;
}

.btn-disabled {
  pointer-events: none;
}

.btn-disabled.btn-secondary {
  background-color: #807707;
}

.btn-disabled.btn-primary {
  background-color: #0b338a;
}

.btn-good-disabled {
  pointer-events: none;
  background-color: #0c941e;
}

.btn-bad-disabled {
  pointer-events: none;
  background-color: #cc3131;
}

/*
===============
 global styles
===============
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nova Square', cursive;
}

body {
  background-color: #1d1d1a;
  color: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 680px) {
  * {
    font-family: 'Montserrat', sans-serif;
  }
}

/*
=============
    index
=============
*/
/*---header---*/
.indexHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indexHeader h1 {
  text-align: center;
  margin-top: 1em;
}

/*---main---*/
.indexMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indexMain h1 {
  font-size: 3.5rem;
  text-align: center;
}

.indexMain .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  margin-top: 2.5em;
}

.indexMain .controls .btn {
  width: 100%;
}

.indexMain .btn-secondary i {
  margin-left: 10px;
}

@media only screen and (max-width: 680px) {
  .indexMain {
    margin-top: 5em;
    margin-inline: 5%;
  }
  .indexMain h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .indexHeader {
    margin-inline: 5%;
  }
  .indexHeader h1 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */